<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/socket.io/socket.io.js"></script>
    <title>Pagina de ECommerce</title>
        <%- include('./layouts/head') %>
</head>

<body>
    <%- include('./mainPage') %>
    <h1 style="color:blue;">Chat Consultas</h1>
    <form onsubmit="return addMessage(this)">
        <input type="text" id="username" placeholder="Tu EMail" class="form-control w-50 my-2 mr-2">
        <input type="text" id="nombre" placeholder="Tu Nombre" class="form-control w-50 my-2 mr-2">
        <input type="text" id="apellido" placeholder="Tu Apellido" class="form-control w-50 my-2 mr-2">
        <input type="number" id="edad" placeholder="Tu Edad" class="form-control w-50 my-2 mr-2">
        <input type="text" id="apodo" placeholder="Tu Apodo" class="form-control w-50 my-2 mr-2">
        <input type="text" id="avatar" placeholder="Tu Avatar" class="form-control w-50 my-2 mr-2">
        <input type="text" id="texto" placeholder="Cuéntanos algo..." class="form-control w-50 my-2 mr-2">
        <input type="submit" value="Enviar" class="btn btn-success mt-3 mb-5">
        <br>
        <button class="btn btn-success mt-3 mb-5 text-right" onclick='getChatByUser()' replace>Mis mensajes</button>
        <button class="btn btn-success mt-3 mb-5 text-right" onclick='allMessages()' replace>Todos los mensajes</button>
    
    </form>
    <div id="mensajes"></div>
    <script src="../js/chat.js"></script>
</body>
    
</html>