<!DOCTYPE html>
<html lang="es">

<head>
    <title>Logout</title>
    <%- include('./layouts/head') %>
</head>

<body>
    <body>
        <div class="container p-5 mb-10 border-bottom bg-light rounded-3">
            <div class="jumbotron">
        <h1 style="color:blue;">Hasta Luego <%=nombre%>
            <a  href="/" 
                class="btn btn-success btn-lg mb-1"
                style="float: right;"
                role="button">Ir a Login
        </a>
        </h1>
</form> 
